<?xml version="1.0" encoding="UTF-8"?>
<config>
  <module>
    <Mage_ProductLogSales>
      <version>0.0.1</version>
    </Mage_ProductLogSales>
  </module>
  <global>
    <models>
      <mage_productlogsales>
        <class>Mage_ProductLogSales_Model</class>
      </mage_productlogsales>
    </models>
    <events>
      <sales_order_place_after>
        <observers>
          <mage_productlogsales>
            <class>mage_productlogsales/observer</class>
            <method>logUpdate</method>
            <type>singleton</type>
          </mage_productlogsales>
        </observers>
      </sales_order_place_after>
    </events>
  </global>
</config>
